@model IEnumerable<DeviceViewModel>

@{
    ViewData["Title"] = "Devices";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Apparaten</h2>
            <p>Zie, maak, bewerk of verwijder apparaten.</p>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Device" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> &nbsp Apparaat toevoegen
            </a>
        </div>
    </div>
</div>
<br />
<br />

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Apparaatnaam
            </th>

            <th>
                Merk
            </th>
            <th>
                Details
            </th>
            <th>
                Bewerken
            </th>
            <th>
                Verwijderen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                    <td width="50%">
                    @obj.DeviceName
                    </td>
                    <td width="50%">
                    @obj.Brand
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Device" asp-action="View" asp-route-deviceId="@obj.DeviceId" class="btn btn-primary"><i class="bi bi-eye-fill"></i>Details</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Device" asp-action="Edit" asp-route-deviceId="@obj.DeviceId" class="btn btn-primary"><i class="bi bi-pen-fill"></i>Bewerken</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Device" asp-action="Delete" asp-route-deviceId="@obj.DeviceId" class="btn btn-primary"><i class="bi bi-trash-fill"></i>Verwijderen</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>
