@using static TicketSystemWeb.Models.TicketViewModel
@model IEnumerable<TicketViewModel>
@{
    ViewData["Title"] = "Tickets";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Ticketlijst</h2>
            <p>Zie, maak, bewerk of verwijder tickets.</p>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Ticket" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> &nbsp Ticket aanmaken
            </a>
        </div>
    </div>
</div>
<br />
<br />

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Ticketnummer
            </th>
            <th>
                Onderwerp
            </th>
            <th>
                Probleemomschrijving
            </th>
            <th>
                Categorie
            </th>
            <th>
                Prioriteit
            </th>
            <th>
                Status
            </th>
            <th>
                Bekijken
            </th>
            <th>
                Bewerken
            </th>
            <th>
                Verwijderen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                    <td width="50%">
                    @obj.TicketId
                    </td>
                    <td width="50%">
                    @obj.TicketSubject
                    </td>
                    <td width="50%">
                    @obj.TicketContent
                    </td>
                    <td width="50%">
                    @if (@obj.TicketCategory.Equals(TicketCategories.Windows))
                    {
                                <p>Windows</p>
                    }
                    @if (@obj.TicketCategory.Equals(TicketCategories.macOS))
                    {
                                <p>macOS</p>
                    }
                    @if (@obj.TicketCategory.Equals(TicketCategories.Printer))
                    {
                                <p>Printer</p>
                    }
                    @if (@obj.TicketCategory.Equals(TicketCategories.InterneSystemen))
                    {
                                <p>Interne systemen</p>
                    }
                    <td width="50%">
                        @if (@obj.TicketPriority.Equals(TicketPriorities.Laag))
                        {
                                <span class="badge bg-primary">Laag</span>
                        }
                        @if (@obj.TicketPriority.Equals(TicketPriorities.Gemiddeld))
                        {
                                <span class="badge bg-secondary">Gemiddeld</span>
                        }
                        @if (@obj.TicketPriority.Equals(TicketPriorities.Hoog))
                        {
                                <span class="badge bg-warning">Hoog</span>
                        }
                        @if (@obj.TicketPriority.Equals(TicketPriorities.Kritiek))
                        {
                                <span class="badge bg-danger">Kritiek</span>
                        }
                    </td>
                    <td width="50%">
                        <span>
                            @if (@obj.TicketStatus.Equals(TicketStatuses.Open))
                            {
                                    <span>Open</span>
                            }
                            @if (@obj.TicketStatus.Equals(TicketStatuses.InBehandeling))
                            {
                                    <span>In behandeling</span>
                            }
                            @if (obj.TicketStatus.Equals(TicketStatuses.Gesloten))
                            {
                                    <span>Gesloten</span>
                            }
                        </span>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Ticket" asp-action="View" asp-route-ticketId="@obj.TicketId" class="btn btn-primary"><i class="bi bi-eye-fill"></i>Bekijken</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Ticket" asp-action="Edit" asp-route-ticketId="@obj.TicketId" class="btn btn-primary"><i class="bi bi-pen-fill"></i>Bewerken</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Ticket" asp-action="Delete" asp-route-ticketId="@obj.TicketId" class="btn btn-primary"><i class="bi bi-trash-fill"></i>Verwijderen</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>
