@using static TicketSystemWeb.Models.TicketViewModel
@model TicketViewModel

<form method="post">
    <input asp-for="TicketId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket @Model.TicketId</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="row">
            <span asp-validation-for="TicketStatus">Status</span>
            <div class="col-sm-3">
                <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<TicketStatuses>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketStatuses.Gesloten</option>
                </select>
            </div>
            <br />
            <br />
            <div class="row">
                <span>Ticket aangemaakt door</span>
                <div class="col-sm-3">
                    <select class="form-control" disabled>
                        <option>@Model.Client.FirstName @Model.Client.LastName</option>
                    </select>
                </div>
                <br />
                <br />
                <div class="row">
                    <span>Gekoppelde medewerker</span>
                    <div class="col-sm-3">
                        <select class="form-control" disabled>
                            <option>@Model.Employee.FirstName @Model.Employee.LastName</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="CreatedDateTime">Ticket voor het laatst aangepast op</label>
            <input asp-for="CreatedDateTime" disabled class="form-control">
            <br />
            <label asp-for="TicketId">Ticketnummer</label>
            <input asp-for="TicketId" disabled class="form-control">

            <br />
            <label asp-for="TicketSubject">Onderwerp</label>
            <input asp-for="TicketSubject" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TicketSubject">Probleemomschrijving</label>
            <textarea asp-for="TicketContent" disabled class="form-control" rows="7"></textarea>
        </div>
        <div class="row">
            <span asp-validation-for="TicketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="TicketCategory" asp-items="Html.GetEnumSelectList<TicketCategories>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketCategories.InterneSystemen</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketCategory">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<TicketPriorities>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketPriorities.Gemiddeld</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketLevel">Niveau</span>
            <div class="col-sm-3">
                <select asp-for="TicketLevel" asp-items="Html.GetEnumSelectList<TicketLevels>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketLevels.Simpel</option>
                </select>
            </div>
        </div>
        <br />
        <a asp-controller="Ticket" asp-action="Index" class="btn btn-primary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>
<br />
<div class="border p-4 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Betrokken apparaat</h2>
        @if (@Model.Device.DeviceId != 0)
        {
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@Model.Device.DeviceName</div>
                        Merk: @Model.Device.Brand, Apparaatversie: @Model.Device.DeviceVersion, Merk: @Model.Device.Brand, OS versie: @Model.Device.OsVersion, Serienummer: @Model.Device.SerialNumber
                    </div>
                    @*<span class="badge bg-primary rounded-pill">Toegevoegd op: 12-04-2022</span>*@
                </li>
            </ol>
        }
        else
        {
            <p>Geen apparaat gekoppeld aan ticket</p>
        }
    </div>
</div>
<form method="post" asp-action="CreateComment" asp-route-id="@Model.TicketId">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Reageren</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Opmerking</label>
            <textarea asp-for="CommentContent" required placeholder="Vul hier je reactie in" class="form-control" rows="7"></textarea>
            <input asp-for="TicketId" class="form-control" hidden>
            <br />
            <button type="submit" class="btn btn-success" style="width: 150px">Plaats reactie</button>
        </div>
    </div>
</form>

@foreach (var obj in Model.Comments)
{
    <br />
    <form method="post" asp-action="DeleteComment" asp-route-commentid="@obj.CommentId">
        <div class="card">
            <div class="card-header">
                <h2>Reactie</h2>
                <h6>Reactienummer: @obj.CommentId</h6>
            </div>
            <div class="card-body">
                <label asp-for="TicketSubject">Opmerking</label>
                <textarea disabled asp-for="@obj.CommentContent" class="form-control" rows="7"></textarea>
                <p>Geplaatst door: Gebruiker (@obj.CreatedDateTime)</p>
                <button type="submit" class="btn btn-danger" style="width: 150px">Verwijderen</button>
            </div>
        </div>
    </form>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }
