@using static TicketSystemWeb.Models.TicketViewModel
@model TicketViewModel

<form method="post">
    <input asp-for="TicketId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ticket @Model.TicketId</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <button asp-action="StopTimer" class="btn btn-danger" style="width: 300px">Stop met werken</button>
        <br />
        <br />
        <div class="row">
            <span asp-validation-for="TicketStatus">Status</span>
            <div class="col-sm-3">
                <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<TicketStatuses>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketStatuses.Gesloten</option>
                </select>
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="CreatedDateTime">Ticket voor het laatst aangepast op</label>
            <input asp-for="CreatedDateTime" disabled class="form-control">
            <br />
            <label asp-for="TicketId">Ticketnummer</label>
            <input asp-for="TicketId" disabled class="form-control">

            <br />
            <label asp-for="TicketSubject">Onderwerp</label>
            <input asp-for="TicketSubject" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TicketSubject">Probleemomschrijving</label>
            <textarea asp-for="TicketContent" disabled class="form-control" rows="7"></textarea>
        </div>
        <div class="row">
            <span asp-validation-for="TicketCategory">Categorie</span>
            <div class="col-sm-3">
                <select asp-for="TicketCategory" asp-items="Html.GetEnumSelectList<TicketCategories>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketCategories.InterneSystemen</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketCategory">Prioriteit</span>
            <div class="col-sm-3">
                <select asp-for="TicketPriority" asp-items="Html.GetEnumSelectList<TicketPriorities>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketPriorities.Gemiddeld</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <span asp-validation-for="TicketLevel">Niveau</span>
            <div class="col-sm-3">
                <select asp-for="TicketLevel" asp-items="Html.GetEnumSelectList<TicketLevels>()" class="form-control" disabled>
                    <option selected="selected" value="">@TicketLevels.Simpel</option>
                </select>
            </div>
        </div>
        <br />
        <a asp-controller="Ticket" asp-action="Index" class="btn btn-primary" style="width: 150px">Terug naar overzicht</a>
    </div>
</form>
<br />
<div class="border p-4 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Betrokken apparaten</h2>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">iPhone 12</div>
                    Merk: Apple, Versie: 11, Serienummer: 123456, OS: iOS 11.0
                </div>
                <span class="badge bg-primary rounded-pill">Toegevoegd op: 12-04-2022</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">iPhone 12</div>
                    Merk: Apple, Versie: 11, Serienummer: 123456, OS: iOS 11.0
                </div>
                <span class="badge bg-primary rounded-pill">Toegevoegd op: 12-04-2022</span>
            </li>
        </ol>
    </div>
</div>
<form method="post" asp-action="CreateComment" asp-route-id="@Model.TicketId">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Reageren</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Opmerking</label>
            <textarea asp-for="CommentContent" placeholder="Vul hier je reactie in" class="form-control" rows="7"></textarea>
            <input asp-for="TicketId" class="form-control" hidden>
            <br />
            <button type="submit" class="btn btn-success" style="width: 150px">Plaats reactie</button>
        </div>
        <span asp-validation-for="CommentContent" class="text-danger"></span>
    </div>
</form>
@foreach (var obj in Model.Comments)
{
    <br />
    <form method="post" asp-action="DeleteComment" asp-route-commentid="@obj.CommentId">
        <div class="card">
            <div class="card-header">
                <h2>Reactie</h2>
                <h6>Reactienummer: @obj.CommentId</h6>
            </div>
            <div class="card-body">
                <label asp-for="TicketSubject">Opmerking</label>
                <textarea disabled asp-for="@obj.CommentContent" class="form-control" rows="7"></textarea>
                <p>Geplaatst door: Henk (@obj.CreatedDateTime)</p>
                <button type="submit" class="btn btn-danger" style="width: 150px">Verwijderen</button>
            </div>
        </div>
    </form>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }
