@using TicketSystemWeb.ViewModels
@model IEnumerable<EmployeeAccountViewModel>

@{
    ViewData["Title"] = "Account - Info";
}
@foreach (var obj in Model)
{
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Account van @obj.FirstName</h2>
                <hr />
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="@obj.FirstName">Voornaam</label>
                <input asp-for="@obj.FirstName" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="@obj.LastName">Achternaam</label>
                <input asp-for="@obj.LastName" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="@obj.CompetenceLevel">Niveau</label>
                <input asp-for="@obj.CompetenceLevel" disabled class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="@obj.Role">Rol</label>
                <input asp-for="@obj.Role" disabled class="form-control" />
            </div>
        </div>
    </form>
}
